
<%- include("partials/header") %>

    <!-- Books I have read section -->

    <section>
      <div class="wrapper">

        <% if (myBooks.length === 0) { %>
          <h1>No books yet added to your list. You should read a book!</h1>
        <% } else { %> 
          
          <div class="my-books-header-container">
            <div class="header-title">
              <h1>Books I have read</h1>
            </div>

            <div class="header-sortby-container">
              <a href="#" class="sort-button" onclick="showSortByOptions()">
                <span>Sort by</span>
                <img class="dropdown-icon" style="width: 1rem; height: 1rem;" src="images/dropdown.svg" alt="sort by">
            </a>
            </div>            
          </div>

          <% myBooks.forEach(book => { %>

          <div class="book-card-container">
            <div class="book-card-head space-between">
              <div class="book-card-text">
               <h2> <%= book.book_name %> </h2>
               <p> <b>Author(s): </b> <%= book.author %> </p>              
               <p> <span style="font-weight: 600;">Finished on: </span> <%= book.month %> , <%= book.year %> </p>
               <div class="rating-section">
                 <p class="rate-title">My Rate:</p>
                 <p id="rating-number"> <%= book.rating %> /10 </p>
               </div>
              </div>
             <picture>
               <% if (book.small_image) { %>
                   <img class="thumbnail" src="<%= book.small_image %>" alt="<%= book.book_name %>">
               <% } else { %>
                   <p>Image not available</p>
               <% } %>
               </picture>
            </div>
            
            <p class="my-notes-title">My Notes: </p>
            <% if (book.note) {%>
              <p id="myNotes" class="format-notes"> <%- book.note
                .trim()  // 
                .replace(/\r?\n/g, "<br>") %> </p>
              <!-- trim Remove blank spaces in the beginning and in the end  -->
              <!-- the replace line will replace line breaks or enters with <br> -->

            <% } else { %>
              <p id="myNotes">No notes about this book. Add <a href="#">here</a></p>
            <% } %>
            
            <div class="interact-buttons-container">
              <form action="/edit" method="get">
                <input type="hidden" name="apiId" value="<%= book.api_id %>">
              <button type="submit" class="add-note-btn btn">Edit / Add Note</button>
              </form>
              <button class="delete-btn btn">Delete this book</button>
            </div>

          </div>          
        <% } ) } %>
        
      </div>
    </section>
  
  </body>
</html>
