
<%- include("partials/header") %>

    <!-- My Books section -->

    <section>
      <div class="wrapper">

        <% if (myBooks.length === 0) { %>
          <h1>No books yet added to your list. You should read a book!</h1>
        <% } else { %> 
          
          <div class="my-books-header-container">
            <div class="header-title">
              <h1>Books I have read</h1>
            </div>

            <div class="header-sortby-container">
              <a href="#" class="sort-button" onclick="showSortByOptions()">
                <span>Sort by</span>
                <img class="dropdown-icon" style="width: 1rem; height: 1rem;" src="images/dropdown.svg" alt="sort by">
            </a>
            </div>            
          </div>

          <% myBooks.forEach(book => { %>

          <div class="book-card-container">
            <h2> <%= book.book_name %> </h2>
            <p> <%= book.author %> </p>
            <p> <span style="font-weight: 600;">Review: </span> <%= book.rating %> /10 </p>
            <p> <span style="font-weight: 600;">Finished on: </span> <%= book.month %> , <%= book.year %> </p>
            <p> <span style="font-weight: 600;">My Notes:</span> <%= book.note %> </p>
            
            <div class="interact-buttons-container">
              <button class="edit-btn">Edit</button>
              <button class="add-btn">Add Note</button>
              <button class="delete-btn">Delete this book</button>
            </div>

          </div>
          
        <% } ) } %>
        
      </div>
    </section>
  
  </body>
</html>
