
<%- include("partials/header") %>

    <!-- Books I have read section -->

    <section>
      <div class="wrapper">

        <% if (myBooks.length === 0) { %>
          <h1>No books yet added to your list. You should read a book!</h1>
        <% } else { %> 
          
          <div class="space-between flex-row">
            <div class="header-title">
              <h1>Books I have read</h1>
            </div>

            <div class="sortby-container">
              <button class="sort-button flex-row" onclick="showSortByOptions()">
                <span>Sort by</span>
                <img class="dropdown-icon" style="width: 25px; height: 25px;" src="images/dropdown.svg" alt="sort by">
              </button>
              <div id="sortBy-options" class="hidden-options hidden">
                <form action="/sortBy" method="get">
                 <button type="submit" name="sortBy" value="rating-ASC">Rating (asc)</button>
                 <button type="submit" name="sortBy" value="rating-DESC">Rating (desc)</button>
                 <button type="submit" name="sortBy" value="latestRead">Latest read</button>
                 <button type="submit" name="sortBy" value="default">Latest added</button>
                </form>
              </div>
            </div>            
          </div>

          <% myBooks.forEach(book => { %>

          <div class="book-card-container">
            <div class="book-card-head space-between">
              <div class="book-card-text">
               <h2> <%= book.book_name %> </h2>
               <p> <b>Author(s): </b> <%= book.author %> </p>              
               <p> <span style="font-weight: 600;">Finished on: </span> <%= book.month %> , <%= book.year %> </p>
               <div class="rating-section">
                 <p class="rate-title">My Rate:</p>
                 <p id="rating-number"> <%= book.rating %> /10 </p>
               </div>
              </div>
             <picture>
               <% if (book.small_image) { %>
                   <img class="thumbnail" src="<%= book.small_image %>" alt="<%= book.book_name %>">
               <% } else { %>
                   <p>Image not available</p>
               <% } %>
               </picture>
            </div>
            
            <p class="my-notes-title">My Notes: </p>
            <% if (book.note) {%>
              <p id="myNotes" class="format-notes"> <%- book.note
                .trim()  // 
                .replace(/\r?\n/g, "<br>") %> </p>
              <!-- trim removes blank spaces in the beginning and in the end  -->
              <!-- the replace line will replace line breaks or enters with <br> -->

            <% } else { %>
              <p id="myNotes">No notes about this book. Add something.</p>
            <% } %>
            
            <div class="interact-buttons-container">
              <form action="/edit" method="get">
                <input type="hidden" name="apiId" value="<%= book.api_id %>">
                <button type="submit" class="add-btn btn">Edit / Add Note</button>
              </form>
              <form action="/delete/<%= book.api_id %>" method="get" onsubmit="return confirmDelete(event, '<%= book.book_name %>')">
                <button type="submit" class="delete-btn btn">Delete this book</button>
              </form>

              <script>
                function showSortByOptions(){
                  const element = document.getElementById("sortBy-options")
                  element.classList.toggle("hidden")
                }

                function confirmDelete(event, book_name) {
                  const confirmed = confirm("Wait! This will delete the book " + book_name + " from your list, and all your notes, rating related to this book!");
                  if (confirmed){
                    return confirmed;
                  } else { 
                    event.preventDefault();
                  }
                };          
              </script>              
            </div>
          </div>          
        <% } ) } %>        
      </div>
    </section>
  
  
  </body>
</html>
