<%- include("partials/header") %>

<section>
    <div class="wrapper">

        <% if (books.length === 0) { %>
          <h1>No books found. Try Again.</h1>
        <% } else { %> 

            <div class="header-sortby-container">
              <a href="#" class="sort-button" onclick="showSortByOptions()">
                <span>Sort by</span>
                <img class="dropdown-icon" style="width: 1rem; height: 1rem;" src="images/dropdown.svg" alt="sort by">
              </a>
            </div>

            <% books.forEach(book => { %>

                <div class="book-card-container">
                    <div class="book-card-head">
                        <picture>
                            <% if (book.volumeInfo.imageLinks) { %>
                                <img class="thumbnail" src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="<%= book.volumeInfo.title %>">
                            <% } else { %>
                                <p>Image not available</p>
                            <% } %>
                        </picture>
                        <div class="book-card-text sm-pad-l">
                         <h2> <%= book.volumeInfo.title %> </h2>
                         <p><b>Author(s):</b> <%= book.volumeInfo.authors ? book.volumeInfo.authors.join(', ') : "Not available." %> </p>
                         <p> <b>Page count:</b> <%= book.volumeInfo.pageCount ? book.volumeInfo.pageCount : "not available" %> </p>
                         <p><b>Published on:</b> <%= book.volumeInfo.publishedDate %></p>
                        </div>
                    </div>
                    
                    <div class="book-card-description">
                        <p class="description-title">Description:</p>
                        <p> <%= book.volumeInfo.description %> </p>
                    </div>

                    <div class="interact-buttons-container">
                        <form action="/add" method="post">
                        <button class="add-btn btn" type="submit" name="bookApiId" value="<%= book.id %>">Add to my list</button>
                        </form>
                    </div>


                </div>

                
        <% } ) } %>
</section>